@media print {
  #sectionForm {
    display: none;
  }

  @page {
    margin-left: 0.8in;
    margin-right: 0.8in;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#crearPDF {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 15px;
  color: #fff;
  background-color: #6D1033;
  border: none;
  /*   font-size: 1rem; */
  outline: none;
  border-radius: 5%;
}

#crearPDF:hover {
  cursor: pointer;
  background-color: #5f848487;
  color: black;
}

#sectionTareas {
  text-align: justify;
  text-justify: inter-word;
}
